body{
    background-color: #003b5d;
}


.imagen{
    margin-left: -20px;
    object-fit: cover;
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 75px;
    background-color: #fff;
    overflow: hidden;
}


.container-form{
    margin-top: -2px;
    margin-left: 20px;
}
.valid-feedback{
    margin: 0;
    padding: 0;
}

.formulario__input-error .form-label{
    color: #bb2929;
}

.formulario__input-valid .form-label .col-form-label{
    color: #1ed12d;
}


.formulario__input-error .form-control {
    border: 1px solid #bb2929;
}

.formulario__input-valid .form-control {
    border: 1px solid #1ed12d;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
}
/* From uiverse.io by @adamgiebl */
button {
    width: 100%;
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
   }
   
   button:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   button:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }

@media screen and (max-width:750px) {
    .container-image{
        object-fit: cover;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }
    legend{
        margin-right: 40px;
    }
    
}
 
    


